* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background-color: #333;
  color: white;
  padding: 15px;
  height: 70px;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  display: flex;
  min-height: 300px;
}

.main {
  background-color: #ccc;
  flex: 3;
  padding: 20px;
}

.aside {
  background-color: white;
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  height: 120px;
}